* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-size: 25px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display:flex;
    justify-content: center;
    background-color: rgb(188, 177, 201);
    background-image: linear-gradient(to right, rgb(188, 177, 201), rgb(174, 161, 212));
}

.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(158, 139, 175);
    border-radius: 20px;
    height: 600px;
    width: 600px;
    margin: 5% auto;
}

h1 {
    padding-bottom: 50px;
}

input, select {
    background-color: rgb(218, 206, 228);
    border: solid 1px rgb(58, 19, 90);
    border-radius: 5px;
    outline: none;
    width: 200px;
    height: 25px;
}